({
    "tileset_texture": Asset (
        Image (
            ImageAsset (
                path: "tilesets/tileset.png",
            )
        ),
    ),
    "tileset_project": Asset (
        Tileset (
            TilesetAsset (
                path: "tilesets/tileset.ldtk",
            )
        ),
    ),
})